{% block graphs %}
    <div class="row_1" id="graphs">
        <div class="container">
            <script type="text/javascript" src="https://www.google.com/jsapi"></script>
            <div class="row">
                <h3 class="center border span12">Inidônios por Estado</h3>
                <div id="estados">
                    <div id="map" class="center"></div>
                </div>
                <h6 class="center legend span12">Relação de pessoas inidonia ou suspensa por estado</h6>
            </div>
            <div class="row">
                <h3 class="center border span12">Inidônios por Motivo</h3>
                <article class="span12">
                    <div id="donutGraph"></div>
                    <script type="text/javascript">
                        $(window).load(function(){
                            var motivo = '{{ motivos }}';
                            motivo = jQuery.parseJSON(motivo.replace(/&quot;/g,'"'));
                            new Morris.Donut({
                              element: 'donutGraph',
                              data: motivo,
                              colors:["#FF0000","#FF3300","#FF6600","#FF9900","#FFAA00","#FFBB00","#FFCC00","#FFDD00","#FFEE00","#FFFF00"],
                              formatter:function (y, data) { return toReal(y); }
                            });
                        });
                        function toReal(value){
                          return (value+"").replace(".", ":").replace(",", ".").replace(":", ",");
                        }
                        </script>
                </article>
            </div>
        </div>
    </div>
{% endblock %}